In [1]:
import pandas as pd

In [2]:
apple_df = pd.read_csv('AAPL.csv', index_col=0, parse_dates=True)
dt_range = pd.date_range(start="2020-03-01", end="2020-03-31")
apple_df = apple_df[apple_df.index.isin(dt_range)]
apple_df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-03-02,282.279999,301.440002,277.720001,298.809998,298.809998,85349300
2020-03-03,303.670013,304.000000,285.799988,289.320007,289.320007,79868900
2020-03-04,296.440002,303.399994,293.130005,302.739990,302.739990,54794600
2020-03-05,295.519989,299.549988,291.410004,292.920013,292.920013,46893200
2020-03-06,282.000000,290.820007,281.230011,289.029999,289.029999,56544200

In [3]:
import talib

ModuleNotFoundError: No module named 'talib'