In [1]:
import pandas as pd

In [4]:
walmart_data = pd.read_excel('Walmart Sales.xlsx')

In [5]:
print(walmart_data.head())

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      A  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      B     Yangon        Member    Male
4  373-73-7910      C     Yangon        Normal    Male

             Product line  Unit price  Quantity       Date      Time  \
0       Health and beauty       74.69         7   1/5/2019  13:08:00
1  Electronic accessories       15.28         5   3/8/2019  10:29:00
2      Home and lifestyle       46.33         7   3/3/2019  13:23:00
3       Health and beauty       58.22         8  1/27/2019  20:33:00
4       Sports and travel       86.31         7   2/8/2019  10:37:00

       Payment  Rating
0      Ewallet     9.1
1         Cash     9.6
2  Credit card     7.4
3      Ewallet     8.4
4      Ewallet     5.3

In [7]:
walmart_data.shape

(1000, 12)

In [8]:
walmart_data.head(10)
#check data of the table

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Date,Time,Payment,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,1/5/2019,13:08:00,Ewallet,9.1
1,226-31-3081,A,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3/8/2019,10:29:00,Cash,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,3/3/2019,13:23:00,Credit card,7.4
3,123-19-1176,B,Yangon,Member,Male,Health and beauty,58.22,8,1/27/2019,20:33:00,Ewallet,8.4
4,373-73-7910,C,Yangon,Normal,Male,Sports and travel,86.31,7,2/8/2019,10:37:00,Ewallet,5.3
5,699-14-3026,B,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,3/25/2019,18:30:00,Ewallet,4.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,2/25/2019,14:36:00,Ewallet,5.8
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,2/24/2019,11:38:00,Ewallet,8.0
8,665-32-9167,B,Yangon,Member,Female,Health and beauty,36.26,2,1/10/2019,17:15:00,Credit card,7.2
9,692-92-5582,A,Mandalay,Member,Female,Food and beverages,54.84,3,2/20/2019,13:27:00,Credit card,5.9

In [9]:
# Check for missing values in each column
print(walmart_data.isnull().sum())

Invoice ID       0
Branch           0
City             0
Customer type    0
Gender           0
Product line     0
Unit price       0
Quantity         0
Date             0
Time             0
Payment          0
Rating           0
dtype: int64

In [10]:
# Check for duplicate rows
print("Duplicate rows:", walmart_data.duplicated().sum())

# Drop duplicate rows
walmart_data_cleaned = walmart_data.drop_duplicates()

Duplicate rows: 0

In [14]:
print(walmart_data.columns)

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Date', 'Time', 'Payment',
       'Rating'],
      dtype='object')

In [15]:
# Update aggregation based on actual column names
city_branch_performance = walmart_data.groupby(['City', 'Branch']).agg({
    'Quantity': 'sum',           # Calculate total quantity sold
    'Unit price': 'mean',        # Calculate average unit price
}).reset_index()

In [16]:
print("Performance of Sales and Revenue at City and Branch Level:")
print(city_branch_performance)

Performance of Sales and Revenue at City and Branch Level:
        City Branch  Quantity  Unit price
0   Mandalay      A       637   53.353866
1   Mandalay      B       664   56.133305
2   Mandalay      C       519   57.958316
3  Naypyitaw      A       648   54.123182
4  Naypyitaw      B       604   57.785688
5  Naypyitaw      C       579   57.941009
6     Yangon      A       598   55.639298
7     Yangon      B       631   56.011062
8     Yangon      C       630   52.684602

In [18]:
# Group by 'City' and 'Branch', then calculate average price of items sold
avg_price_by_branch = walmart_data.groupby(['City', 'Branch'])['Unit price'].mean().reset_index()

# Display the average price of an item sold at each branch of the city
print("Average Price of an Item Sold at Each Branch of the City:")
print(avg_price_by_branch)

Average Price of an Item Sold at Each Branch of the City:
        City Branch  Unit price
0   Mandalay      A   53.353866
1   Mandalay      B   56.133305
2   Mandalay      C   57.958316
3  Naypyitaw      A   54.123182
4  Naypyitaw      B   57.785688
5  Naypyitaw      C   57.941009
6     Yangon      A   55.639298
7     Yangon      B   56.011062
8     Yangon      C   52.684602

In [20]:
# Convert 'Date' column to datetime type
walmart_data['Date'] = pd.to_datetime(walmart_data['Date'])

In [21]:
# Extract month and year from 'Date' column
walmart_data['Month'] = walmart_data['Date'].dt.month
walmart_data['Year'] = walmart_data['Date'].dt.year

In [24]:
print(walmart_data.columns)

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Date', 'Time', 'Payment',
       'Rating', 'Month', 'Year'],
      dtype='object')

In [25]:
# Calculate Revenue for each transaction
walmart_data['Revenue'] = walmart_data['Unit price'] * walmart_data['Quantity']

# Display the updated DataFrame with the Revenue column
print(walmart_data.head())  # Assuming you want to see the first few rows

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      A  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      B     Yangon        Member    Male
4  373-73-7910      C     Yangon        Normal    Male

             Product line  Unit price  Quantity       Date      Time  \
0       Health and beauty       74.69         7 2019-01-05  13:08:00
1  Electronic accessories       15.28         5 2019-03-08  10:29:00
2      Home and lifestyle       46.33         7 2019-03-03  13:23:00
3       Health and beauty       58.22         8 2019-01-27  20:33:00
4       Sports and travel       86.31         7 2019-02-08  10:37:00

       Payment  Rating  Month  Year  Revenue
0      Ewallet     9.1      1  2019   522.83
1         Cash     9.6      3  2019    76.40
2  Credit card     7.4      3  2019   324.31
3      Ewallet     8.4      1  2019   465.76
4      Ewallet     5.3      2  2019   604.17

In [26]:
# Group by month, product line, gender, and payment method, then calculate total sales and revenue
monthly_performance = walmart_data.groupby(['Year', 'Month', 'Product line', 'Gender', 'Payment']).agg({
    'Quantity': 'sum',       # Calculate total quantity sold
    'Revenue': 'sum'         # Calculate total revenue
}).reset_index()

# Filter data for April 2019
april_2019_data = monthly_performance[(monthly_performance['Year'] == 2019) & (monthly_performance['Month'] == 4)]

# Display the focus areas for better sales in April 2019
print("Focus Areas to Improve Sales for April 2019:")
print(april_2019_data)

Focus Areas to Improve Sales for April 2019:
Empty DataFrame
Columns: [Year, Month, Product line, Gender, Payment, Quantity, Revenue]
Index: []